.modal {
  min-width: 400px;
}

.modal__header {
  align-items: center;
  border-bottom: 1px solid #dadada;
  padding: 1em;
}

.modal__header-text {
  font-size: 1.5em;
  font-weight: bold;
}

.modal__items {
  margin-bottom: 2em;
}
